h1, h2, h3, h4, h5, h6{
    font-family:'Lobster',cursive!important;
}
.bg{
    background-image: url('/app/img/phone-img.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    min-height: 100vh; 
    
}
.error-message{
    color: rgb(80, 76, 76);
    font-weight:bold;
    padding: 5px;
    background-color: rgb(250, 248, 248);
    border-style: solid;
    border: 2px solid rgb(250, 63, 63) ;
    border-radius: 5px;
    margin: 15px;
   
    
}
.success-message{
    color: rgb(80, 76, 76);
    font-weight:bold;
    padding: 5px;
    background-color: whitesmoke;
    border-style: solid;
    border: 2px solid rgb(49, 255, 49) ;
    border-radius: 5px;
    margin: 15px;
}

.inpt-border{
    border-color: rgb(247, 135, 135) !important;
   
}

.custm-frm
{
    background-color: rgb(100, 247, 234) ;
    width: 30em;
    border-radius: 5px;
   
}
.bg-home{
    background-color: #ffffff;
}
